<div class="container">
    <h1>user register</h1>
    <div class="form-group">
        <span >user id</span>
        <input (keyup)="varifuser()" type="text" class="form-control" [(ngModel)]=" username">
        <span [ngClass]="{'text-danger': isInValide, 'text-success': isValid}">{{msg}}</span>
    </div>
    <div class="form-group">
        <span>password</span>
        <input (keyup)="verifyreg()" (keypress)='varifypwd($event)'  type="password"  class="form-control" [(ngModel)]="password">
        <span class="text-warning" *ngIf='warn'><span class="fa fa-exclamation-triangle"></span>Capital letter Used</span>
        <span>{{strength}}</span>    
    </div>
</div>