<!-- routing demo example -->
<div class="container-fluid">
    <h1 class="text-primary text-center">flipkart Shopping</h1>
    <div class="row">
        <div class="col-3">
            <ul class="list-unstyled">
                <li><a class="btn btn-danger btn-block" routerLink='home'><span class="fa fa-home"></span>Home</a></li>
                <li><a class="btn btn-danger btn-block" routerLink='electronics'><span class=""></span>Electronics</a></li>
                <li><a class="btn btn-danger btn-block" routerLink='footwear'><span class=""></span>footwear</a></li>
                <li><a class="btn btn-danger btn-block" routerLink='fashion'>fashion</a></li>
                <li><a class="btn btn-danger btn-block" routerLink='search/1/mobile/12560'><span class="fa fa-search"></span>search</a></li>
                <!-- this is for the route parameter program -->
                <li><a class="btn btn-danger btn-block" routerLink='detailCat'>category</a></li>
            </ul>
        </div>
        <div class="col-9">
            <!-- it is defines to where the result should be render  -->
            <router-outlet></router-outlet>
        </div>
        
    </div>
</div>
<!-- <app-databind></app-databind> -->
<!-- <app-twoway-bind></app-twoway-bind> -->
<!-- <app-ifdemo></app-ifdemo> -->
<!-- <app-switchdemo></app-switchdemo> -->
<!-- <app-fordemo></app-fordemo> -->
<!-- <app-iterationfor></app-iterationfor> -->
<!-- <app-iteratindex></app-iteratindex> -->
<!-- <app-filtercomp></app-filtercomp> -->
<!-- <app-styledemo></app-styledemo> -->
<!-- <app-ngmodeldemo></app-ngmodeldemo> -->
<!-- <app-eventdemo></app-eventdemo> -->
<!-- <app-keydemo></app-keydemo> -->
<!-- <app-mouseevent></app-mouseevent> -->
<!-- <app-shopping-cart></app-shopping-cart> -->
<!-- <app-eventlast></app-eventlast>  -->
<!-- <app-parent></app-parent> -->
<!-- this is one filter task project -->
<!-- <app-product></app-product> -->
<!-- <app-import-service-use></app-import-service-use> -->
<!-- <app-tempelateform></app-tempelateform> -->
<!-- <app-form-state-vslidation></app-form-state-vslidation> -->
<!-- <app-input-state-validation></app-input-state-validation> -->
<!-- <app-home></app-home> -->
<!-- <app-lifehook></app-lifehook> -->
<!-- this is the example of life cycle -->
<!-- <app-parenting></app-parenting> -->
<!-- <app-pipes></app-pipes> -->
<!-- <app-sampleconsume></app-sampleconsume> -->
<!-- <app-login></app-login> -->
<!-- <app-reactivedemo></app-reactivedemo> -->
<!-- <app-reactive-nested-demo></app-reactive-nested-demo> -->
<!-- <app-reactive-builderformdemo></app-reactive-builderformdemo> -->
<!-- <app-reactive-validator></app-reactive-validator> -->
<!-- <nav class="nav navbar-expand navbar-dark bg-dark">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="">home</a>
        <a class="nav-item nav-link" routerLink="login">registration</a>
        <a class="nav-item nav-link" routerLink="registration">login</a>
    </div>
</nav> -->